
.padder_top_20 {
    padding-top: 20px;
}

.btn-rounded {
    border-radius: 30px !important;
}

.btn-icon-right {
    border-left: 1px solid #fff;
    display: inline-block;
    margin: -.8rem 0 -.8rem 1.3rem;
    padding: 1rem 0 1rem 1.3rem;
}

h5.eco_product_title {
    width: 100%;
    float: left;
    font-size: 18px;
}

.eco_addcart {
    background: #94bb54;
    color: #fff;
    font-weight: bold;
    border-radius: 4px;
    padding: 12px 17px;
    font-size: 13px;
}

.eco_shop_top {
	float: left;
	width: 100%;
}
.eco_shop_top .eco_question_section {
	float: left;
	width: 100%;
	background-image: url(../images/linePattern-3.png);
	background-color: #222222;
	padding: 10px 0px 0px 0px;
	background-size: cover;
	background-position: 50% 0px;
}
select.eco_orderby {
	border: none;
	height: 46px;
	line-height: 46px;
	background: #f4f4f4;
	color: #444;
	cursor: pointer;
	padding-left: 10px;
	box-shadow: none;
}
.eco_qus_input input {
	padding: 4px 0px;
	margin-top: 0px;
	color: #aaa;
	padding-left: 10px;
	background: rgba(120,120,120,0.1);
	border: 0;
	font-size: 13px;
	width: 100%;
}
.eco-shop_cart {
	position: relative;
	float: right;
	cursor: pointer;
	padding: 8px 10px 8px 0px !important;
	line-height: 22px;
	border: 2px solid rgba(255,255,255,0.2);
	border-radius: 4px;
	color: #fff;
}
.eco_cart_left {
	float: left;
	width: 63%;
	margin-left: 15px;
}
.eco_cart_icon {
	background: url(../images/shop/cartBox.png) no-repeat 0px 0px;
	float: right;
	padding: 17px 13px;
}
h5.eco_product_title {
	width: 100%;
	float: left;
	font-size: 18px;
}
.eco_shop_hover_btn {
	float: left;
	width: 100%;
	display: none;
	top: 89%;
}
.eco_shop_sorting {
	float: left;
	width: 100%;
}
strong.eco_shop_note {
	float: right;
	margin: 8px 0px 0px;
}
.eco_product {
	width: 100%;
	float: left;
}
.eco_product_image {
	width: 100%;
	display: inline-block;
	float: left;
	position: relative;
}
.eco_addcart {
	background: #94bb54;
	color: #fff;
	font-weight: bold;
	border-radius: 4px;
	padding: 12px 17px;
	font-size: 13px;
}
.eco_addcart:hover {
	color: #fff;
	font-weight: bold;
	background: #111;
}
.eco_footer_img {
	float: left;
	margin: 5px;
}
.eco_shop_hover {
	display: block !important;
	filter: alpha(opacity=0);
	opacity: 0;
	background: url(../images/wishlist.png) no-repeat 8px 8px;
	border-radius: 90px;
	width: 32px;
	height: 32px;
	cursor: pointer;
	position: absolute;
	right: 15px;
	z-index: 1;
	top: 10px;
	-webkit-transition: all 0.25s ease-in-out;
	-moz-transition: all 0.25s ease-in-out;
	-o-transition: all 0.25s ease-in-out;
	-ms-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out;
}
.eco_product:hover .eco_shop_hover {
	filter: alpha(opacity=1);
	opacity: 1;
}
.eco_shop_hover a {
	position: absolute;
	right: 100%;
	background: #94bb54;
	color: #fff;
	font-size: 13px;
	margin: -3px 0 0 -112px;
	color: #fff !important;
	border-radius: 3px;
	padding: 5px 8px 5px 8px;
	opacity: 0;
	filter: alpha(opacity=0);
	-webkit-transition: all 0.25s ease-in-out;
	-moz-transition: all 0.25s ease-in-out;
	-o-transition: all 0.25s ease-in-out;
	-ms-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out;
}
.eco_shop_hover:hover a {
	opacity: 1;
	filter: alpha(opacity=1);
}
/*-----------shop page index end---------*/
/*-----------shop sidebar combination Start---------*/
.eco_shop_sidebar {
	float: left;
	width: 100%;
}
.eco_shop_sidebar .eco-sidebar-widget-title {
	width: 55%;
}
.eco_shop_sidebar .eco_sidebar_post {
	font-size: 16px;
}
.eco_shop_sidebar input {
	height: 46px;
	background: rgba(120,120,120,0.1);
	border: 0;
	font-size: 13px;
	width: 77%;
	padding-left: 10px;
}
#eco_shop_image {
	background: #fff url(http://placehold.it/1920x800) 50% 0;
	background-size: cover;
	border-top: 0px solid #fff;
	border-bottom: 0px solid #fff;
	padding: 104px 0px;
	float: left;
	position: relative;
	width: 100%;
}
.eco_shop_img_text {
	width: 100%;
	float: left;
	color: #fff;
	line-height: 80%;
	word-break: break-all;
}
strong.eco_shop_img_text1 {
	font-size: 160px;
	line-height: 80%;
}
strong.eco_shop_img_text2 {
	font-size: 135px;
	float: left;
	width: 100%;
	line-height: 80%;
	padding: 20px 0px;
}
.eco_shop_dtext {
	bottom: 48%;
	position: absolute;
	left: 67%;
	font-size: 60px;
	font-family: Dancing Script;
	font-style: italic;
}
.eco_shop_sidebar .ui-widget-content {
	border: 1px solid #ffffff;
	background: #eee url("images/ui-bg_flat_75_f8f8f8_40x100.png") 50% 50% repeat-x !important;
	color: #000000;
	width: 80%;
}
.eco_shop_sidebar .ui-widget-header {
	border: 1px solid #aaaaaa;
	background: #eee url("images/ui-bg_highlight-soft_75_94bb54_1x100.png") 50% 50% repeat-x !important;
	color: #222222;
	font-weight: bold;
}
.eco_shop_sidebar .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
	border: 1px solid #ffffff;
	background: #94bb54 url("images/ui-bg_glass_75_ECF0F1_1x400.png") 50% 50% repeat-x !important;
	font-weight: normal;
	color: #95A5A6;
}
.eco_range_box {
	float: left;
	width: 100%;
	margin-top: 20px;
}
.eco_range_box label {
	float: left;
	font-weight: bold;
	font-size: 17px;
	text-transform: capitalize;
}
.eco_range_box input#amount {
	border: 0;
	color: #94bb54;
	font-weight: bold;
	font-size: 17px;
	background: none;
	padding-bottom: 0px;
	height: 22px;
	float: left;
	width: 30%;
	margin-right: 60px;
}
.eco_shop_wraper {
	width: 100%;
	float: left;
}
/*-----------shop sidebar combination end---------*/
/*---------------Media Css Start---------------*/
/*---------------For video responsive---------------*/
.eco-video-container {
	position: relative;
	padding-bottom: 60%;
	padding-top: 35px;
	height: 0;
	overflow: hidden;
}
.eco-video-container iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: none;
}
/*---------------For video responsive End---------------*/
/* Large desktop */
@media (min-width: 1200px) {
.eco_tabs_slide_section {
	display: none;
}
}
@media (min-width: 992px) and (max-width: 1199px) {
.eco_uneven_slider {
	display: none;
}
.eco_featured_content h4 {
	font-size: 20px;
}
.eco_pera {
	font-size: 13px;
}
.navbar-nav > li {
	padding-left: 0px !important;
}
ul.my_menu ul.sub-menu li a {
	font-size: 11px !important;
}
ul.my_menu li.eco_bigmenu ul.sub-menu li.eco_pmcmenutitle ul.sub-menu li a {
	padding: 5px 0 5px 10px !important;
}
.eco_social_icon {
	float: left;
	width: 100%;
	margin-top: 10px;
}
.pagenav.fixedmenu {
	display: none !important;
}
}
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 991px) {
.eco_shop_clock {
    float: left;
    width: 100%;
    border-right: none;
    padding: 0px;
}
.eco_info {
	width: 80%;
	float: right;
	text-align: left;
	padding-top:0px;
}
.eco_info .eco_email {
	padding-left: 0px;
	margin-bottom: 5px;
	width: 100%;
}
.eco_info .eco_ph {
	margin-bottom: 5px;
	width: 100%;
	border-right: none;
	padding: 0px;
}
.eco_footer_data {
	min-height: 175px;
}
.eco_uneven_slider {
	display: none;
}
.navbar-nav {
	width: 100% !important;
	padding: 0px !important;
}
.navbar-nav > li {
	padding-left: 0px !important;
	padding-right: 0px !important;
}
.navbar-nav > li > a {
	padding: 12px !important;
}
ul.my_menu li.eco_bigmenu ul.sub-menu li.eco_pmcmenutitle {
	width: 50% !important;
	border-bottom: 1px solid #444 !important;
}
.pagenav.fixedmenu {
	display: none !important;
}
.eco_home_service {
	float: left;
	width: 100%;
	margin-bottom: 30px;
}
.eco_main_recycle img {
	display: inherit;
	margin: 0px auto;
}
.eco_ach_image img {
	width: 100%;
}
ul.eco_filter_title li a {
	margin-right: 5px;
	padding: 8px 8px;
}
.eco_page_title {
	width: 100%;
}
.breadcrumb {
	width: 100%;
}
.eco_featured_black a img, .eco_featured_green a img {
display: inherit;
}
.eco-blog-img-hover
{
display:none;
}
.eco_page_video .Flexible-container{
height:inherit;
}
}
/* Landscape phone to portrait tablet */
@media (min-width: 480px) and (max-width: 767px) {
.eco_qus_social_link{
    float: left;
}
.eco_shop_clock {
	float: none;
}
.eco_shop_clock {
	width: 100%;
}
.eco-shop_cart {
	float: left;
	width: 40%;
	margin: 0px 30%;
}
.eco_info {
	width: 100%;
	text-align: center;
}
.eco_info .eco_ph {
	width: 100%;
}
.eco_info .eco_email {
	width: 100%;
}
.eco_social_icon {
	float: right;
	width: 63%;
	margin: 0 auto;
}
.eco_logo {
	float: left;
	width: 100%;
	text-align: center;
}
.eco_service .eco_service_data {
	padding-bottom: 30px;
}
.eco_uneven_slider {
	display: none;
}
.eco_blog_img img {
	width: 100%;
}
.eco_port_img img {
	width: 100%;
}
ul.eco_filter_title li a {
	margin-right: 5px;
	padding: 8px 6px;
}
.img-responsive {
	display: inherit;
}
}
@media (max-width: 767px) {
.eco_shop_clock {
	float: none;
	border-right: none;
}
.eco_info .eco_ph {
	border-right: none;
}
.pagenav.fixedmenu {
	display: none !important;
}
ul.my_menu ul.sub-menu {
	position: relative;
	display: block !important;
	border-bottom: none !important;
	float: left;
	width: 100%;
	background: none !important;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
}
.navbar-nav {
	float: left !important;
	width: 100% !important;
	padding: 0px !important;
	margin: 0px !important;
}
ul.navbar-nav li a.active, .fixedmenu ul.menu li a.active, ul.my_menu ul.sub-menu li a.active {
	color: #fff !important;
}
.nav > li {
	padding-left: 0px !important;
	padding-right: 0px !important;
	border-right: none !important;
}
.navbar-collapse {
	border-top: none !important;
	box-shadow: none !important;
}
.navbar-nav > li > a {
	line-height: 20px;
	font-weight: bold !important;
	width: 100%;
	font-size: 14px;
	padding: 10px 2% !important;
	margin: 0 0%;
	border-bottom: 1px solid #444;
	color: #fff !important;
	text-transform: uppercase !important;
	float: left;
	text-align: left !important;
	text-transform: none;
}
ul.my_menu ul.sub-menu li:hover {
	background: none;
}
ul.my_menu ul.sub-menu li a {
	padding: 12px 30px !important;
	width: 100%;
	float: left;
	position: relative;
}
ul.my_menu ul.sub-menu li a:before {
	content: '';
	position: absolute;
	width: 4px;
	height: 4px;
	background: #94bb54;
	margin-top: 12px;
	border-radius: 10px;
	left: 20px;
}
.eco_pmcmenutitleimage img {
	display: none;
}
ul.my_menu li.eco_bigmenu ul.sub-menu li.eco_pmcmenutitle {
	width: 100% !important;
	border-bottom: 1px solid #444 !important;
	border-right: none !important;
}
ul.my_menu li.eco_bigmenu ul.sub-menu li.eco_pmcmenutitle:nth-child(even) {
	border-bottom: 1px solid #444 !important;
}
ul.my_menu ul.sub-menu li {
	white-space: normal;
}
.eco_main_recycle img {
	display: inherit;
	margin: 0px auto;
}
.eco_achievement .eco_ach_title, .eco_ach_title {
	background: none !important;
}
.eco_ach_image img {
	display: initial;
}
.eco_featured_black img, .eco_featured_green img {
	display: inherit;
}
.eco_port_recentimage {
	width: inherit;
}
.eco_port_min_recentimage {
	width: 100%;
}
.eco_port_image {
	text-align: center;
}
h5.eco_port_min_title {
	text-align: center;
}
.eco_port_recentimage .eco_port_overdefult {
	display: none;
}
.eco_port_min_title {
	text-align: center;
}
.eco_page_title {
	width: 100%;
	text-align: center;
}
.breadcrumb {
	width: 100%;
	text-align: center;
}
.eco-blog-img-hover{
display:none;
}
/*shop sidebar*/
.eco_shop_sidebar .eco-sidebar-widget-title {
	width: 83%;
	float: left;
}
.eco_shop_hover {
	display: none;
}
.eco_sliderbtn{
padding: 10px 30px !important;
    margin-top: 50px !important;
}
.eco_transprant_header .navbar-inverse .collapse.in{
    background: #333;
}
.eco_back_black {
    background: transparent !important;
}
}
@media (min-width: 320px) and (max-width: 479px) {
.eco_shop_clock {
	float: none;
}
.eco_info {
	width: 100%;
	text-align: center;
}
.eco_info .eco_ph {
	width: 100%;
}
.eco_info .eco_email {
	width: 100%;
}
.eco_service .eco_service_data {
	padding-bottom: 30px;
}
.eco_uneven_slider {
	display: none;
}
ul.eco_filter_title li a {
	margin-right: 5px;
	padding: 8px 8px !important;
}
.eco-page-portfolio-categories a {
	margin: 11px;
}
.eco_shop_hover {
	display: none;
}
}
@media (max-width: 500px) {
.eco_sliderpera{
	display:none !important;
}
}
@media (max-width: 479px) {
.eco_qus_social_link{
    float: left;
}
.eco_shop_clock {
	float: none;
}
.eco_logo {
	float: left;
	width: 100%;
	text-align: center;
}
.eco_logo img {
	display: inherit;
}
.eco_info {
	width: 100%;
}
.eco-shop_cart{
    float: left;
}
.eco_info .eco_ph {
	padding-right: 0px;
	margin-bottom: 5px;
	width: 100%;
	text-align: center;
	border-right: none;
}
.eco_info .eco_email {
	padding-left: 0px;
	width: 100%;
	margin-bottom: 5px;
	text-align: center;
}
.eco_qus_social_link {
	float: left;
	width: 100%;
}
.eco_info i {
	margin-right: 1px;
}
.eco_social_icon ul {
	margin: 10px 0px;
}
.eco_ach_image a {
	text-align: center;
}
.eco_main_heading h1 {
	word-wrap: break-word;
}
.eco_btn {
	padding: 19px 25px;
}
.btn-lg, .btn-group-lg > .btn {
	padding: 17px 25px !important;
}
.eco_port_image {
	text-align: center;
}
.eco_port_recentimage {
	width: inherit;
}
h5.eco_port_min_title {
	text-align: center;
}
.eco_port_min_title {
	text-align: center;
}
.eco_page_title {
	width: 100%;
	text-align: center;
}
.breadcrumb {
	width: 100%;
	text-align: center;
}
.eco_portfolio_content h3 {
	font-size: 43px;
}
.eco_contact_info {
	padding: 0px;
	width: 100%;
	margin-left: 0px;
}
.eco_icon_content.margin_left_50 {
	margin-left: 0px;
}
h5.eco_post_title:after {
	display: none;
}
#cmt2, #cmt5 {
	margin-left: 0px;
}
#cmt3, #cmt4 {
	margin-left: 0px;
}
.eco_img_post_data li {
	width: 100%;
}
.ih-item.square {
	margin-left: -20px !important;
}
.eco_pricing_table_main_div h3 {
	font-size: 44px;
}
h2.eco_img_head {
	font-size: 40px;
}
.eco_short_map .btn-lg {
	font-size: 12px;
}
.eco_shortcode_wraper .eco_count {
	margin-left: -33px;
}
.ih-item.square {
	width: 253px !important;
}
.eco_shortcode_wraper h1 {
	font-size: 70px;
}
.eco_uneven_slider {
	display: none;
}
.eco_service_btn .btn-lg {
	font-size: 16px;
}
.eco-page-portfolio-categories a {
	margin: 11px;
}
.eco_shop_sidebar .eco-sidebar-widget-title {
	width: 70%;
}
.eco_shop_hover {
	display: none;
}
#eco_new_home h1{
    font-size: 50px;
}
}
/*---------------Media C
